@{
    ViewData["Log in"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Iniciar sesión</h1>
</div>

<form>
    <input type = "text" placeholder="Username" name ="username">
</form>